:root {
    --main-bg-color: #fefefe;
    --main-theme-color: #596D48;
    --text-color: black;
    --hero-text-color: white;
    --invalid-color: #eb0000;
    --large-font-size: 20px;
    --small-font-size: 11px;
    --medium-font-weight: 500;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@font-face {
    font-family: "Norse Bold";
    src: url("assets/fonts/Norse-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

.page {
    min-height: 100vh;
    display: flex;
    background-color: var(--main-bg-color);
}

.hero {
    flex: 1;
    min-width: 200px;
    background-image: url("assets/images/green-leaf-plant.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    color: var(--hero-text-color)
}

.hero-bar {
    top: 20%;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    gap: 12px;
    display: flex;
    background: rgba(0, 0, 0, 0.5);
    height: 100px;
    position: absolute;
}

.hero-img {
    width: 64px;
    height: auto;
    display: block;
}

.hero-title {
    font-family: "Norse Bold", system-ui, sans-serif;
    font-size: 64px;
    letter-spacing: 2px;
}

.hero-credit {
    padding: 1rem;
    font-size: 0.7rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}

.hero a {
    color: var(--hero-text-color);
    text-decoration: none;
}

.content {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.description {
    margin-top: 100px;
    padding: 20px 40px;
    font-size: var(--large-font-size);
    font-weight: var(--medium-font-weight);
    max-width: 60ch;
}

.description span {
    font-style: italic;
}

.content p {
    margin-bottom: 20px;
}

.form-card {
    background-color: white;
    padding: 20px 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.form-card h1 {
    font-size: var(--large-font-size);
    font-weight: var(--medium-font-weight);
    margin-bottom: 20px;
}

.form-sign-up {
    display: flex;
    flex-wrap: wrap;
    row-gap: 18px;
    column-gap: 48px;
}

.field {
    display: flex;
    width: 40%;
    min-width: 200px;
    flex-direction: column;
    gap: 3px;
}

.field label {
    text-transform: uppercase;
    font-size: var(--small-font-size);
    font-weight: var(--medium-font-weight);
    letter-spacing: 0.1em;
    display: block;
}

.field .required:after {
    content: "*";
    color: var(--invalid-color);
}

.field input {
    height: 1.6rem;
    width: 100%;
    padding: 6px 6px;
    border: 1px solid #e5e7eb;
    border-radius: 0.2rem;
}

.field input:focus {
    /* outline: 2px solid var(--main-theme-color); */
    outline: none;
    border-color: var(--main-theme-color);
    box-shadow: 0 0 2px 0px var(--main-theme-color);
}

.field input:invalid {
    outline: none;
    border-color: var(--invalid-color);
    box-shadow: 0 0 2px 0px var(--invalid-color);
}

.form-card .info {
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: var(--small-font-size);
    color: var(--invalid-color);
}

.cta {
    padding: 30px 40px;
}

.cta a {
    color: var(--main-theme-color);
    font-weight: var(--medium-font-weight);
    text-decoration: none;
}

.btn {
    background-color: var(--main-theme-color);
    color: white;
    padding: .75em 3em;
    font-weight: var(--medium-font-weight);
    border: none;
    border-radius: 0.6em;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.btn:hover {
    opacity: 90%;
    cursor: pointer;
}

@media (max-width: 600px) {
    .page {
        flex-direction: column;
    }

    .hero {
        width: 100%;
        min-height: 35vh;
    }

    .field {
        width: 100%;
    }

    .description {
        margin-top: 20px;
    }
}