* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --main-bg-color: #fefefe;
    --main-theme-color: #596D48;
    --text-color: black;
    --hero-text-color: white;
    --invalid-color: lab(53.23% 80.11 67.22);
    --large-font-size: 20px;
    --medium-font-weight: 500;
}

@font-face {
    font-family: "Norse Bold";
    src: url("https://cdn.statically.io/gh/TheOdinProject/theodinproject/efdc2888072f409e687d31dc580595dbe4fe0ff4/app/assets/fonts/Norse-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

.page {
    min-height: 100vh;
    display: flex;
    background-color: var(--main-bg-color);
}

.hero {
    flex: 1;
    min-width: 200px;
    background-image: url("assets/images/green-leaf-plant.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    color: var(--hero-text-color)
}

.hero-bar {
    top: 20%;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    gap: 12px;
    display: flex;
    background: rgba(0, 0, 0, 0.5);
    height: 100px;
    position: absolute;
}

.hero-img {
    width: 64px;
    height: auto;
    display: block;
}

.hero-title {
    font-family: "Norse Bold", system-ui, sans-serif;
    font-size: 64px;
    letter-spacing: 2px;
}

.hero-credit {
    padding: 1rem;
    font-size: 0.7rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}

.hero a {
    color: var(--hero-text-color);
    text-decoration: none;
}

.content {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.description {
    margin-top: 100px;
    padding: 20px 40px;
    font-size: var(--large-font-size);
    font-weight: var(--medium-font-weight);
    max-width: 60ch;
}

.description span {
    font-style: italic;
}

content p {
    margin-bottom: 20px;
}

.form-card {
    background-color: white;
    padding: 20px 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.form-card h1 {
    font-size: var(--large-font-size);
    font-weight: var(--medium-font-weight);
}

.cta {
    padding: 20px 40px;
}

.cta a {
    color: var(--main-theme-color);
    font-weight: var(--medium-font-weight);
    text-decoration: none;
}

.btn {
    background-color: var(--main-theme-color);
    color: white;
    padding: .75em 3em;
    font-weight: var(--medium-font-weight);
    border: none;
    border-radius: 0.75em;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.btn:hover {
    opacity: 90%;
    cursor: pointer;
}